html, body{
    @import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    height: 100%;
    font-family: "K2D", sans-serif !important;
}

div a{
    color: black;
    text-decoration: none;
}

div a:hover{
    background-color: #77767620;
    border-radius: 0.25rem;
}

div h1{
    font-family: "K2D", sans-serif !important;
    color: #FF6B00;
    margin-top: 10 !important;
}

.border-custom{
    border: 2px solid #777676;
}

#border-custom{
    border-left: 0;
}

input{
    outline: none;
    box-sizing: border-box;
    height: 2.5rem;
    width: auto;
    padding: 0 1rem;
    border: 0;
}

main{
    border-top: 1px solid #777676;
}

.button-custom{
    border: 0; 
    background-color: white;   
}

.button-custom:hover{
    background-color: #77767620;
}

@media only screen and (max-width: 950px) {
    .none{
        display: none;
    }
  }